<div class="task" [ngClass]="{checked: task.done}">
    <div *ngIf="!isEditing">
        <input 
            [(ngModel)]="task.done" 
            type="checkbox"
            (click)="doTask()">
        <span> {{ task.name }} </span>
        <button (click)="editing()">Edit</button>
        <button (click)="deleting()">Delete</button>
    </div>
    <div *ngIf="isEditing">
        <input [(ngModel)]="editingText" type="text">
        <button (click)="editingSave()">Save</button>
        <button (click)="editing()">Cancel</button>
    </div>
</div>